@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    max-width: 1170px;
    @apply mx-auto;
  }
  .product-list .swiper-slide {
    width: 272px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
}

// @media (min-width: 80rem) {
//   .container {
//     max-width: 80rem;
//     padding-right: 0.625rem;
//     padding-left: 0.625rem;
//   }
// }

body {
  font-family: "Roboto", sans-serif;
  color: #171725;
}

.outline-input:focus {
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #48038c, #00f0ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.ant-form-item-required::after {
  display: inline-block;
  content: "(*)" !important;
  padding-left: 5px;
  color: #d34127;
  font-weight: 600;
}

//
.back-top {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 99;
  top: auto;
  width: 40px;
  height: 40px;
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
  transform: translateY(-20px);
}

.beginning-page {
  width: 30px;
  height: 30px;
  padding: 2px;
  border: 3px solid #48038c;
  transform: rotate(-45deg);
  background-color: #fff;
}

.fixed-navbar::-webkit-scrollbar {
  width: 30px; /* Width of the scrollbar */
}

.fixed-navbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
  border-radius: 12px; /* Rounded corners for the track */
}

.fixed-navbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 12px; /* Rounded corners for the thumb */
  border: 4px solid #f1f1f1; /* Padding around the thumb to make it smoother */
}

.fixed-navbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* Optional: Firefox support */
.fixed-navbar {
  scrollbar-width: thin; /* Makes the scrollbar thinner in Firefox */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track color for Firefox */
  overflow-y: auto;
}
.beginning-page:hover {
  border: 2px solid #00f0ff;
}

/* WebKit-based browsers (Chrome, Safari, Edge) */

.custom-panel::after {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 50px;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

#rdw-wrapper-3123 {
  border: 1px solid #555;
}
