<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Login</h2>
        <div class="d-flex flex-column">
            <a href="/auth/google/login" class="btn btn-danger mb-2">Login with Google</a>
            <a href="/auth/github/login" class="btn btn-dark mb-3">Login with GitHub</a>

            <!-- Login Form -->
            <form id="loginForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>

    <script>
        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission

            const privateEmail = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const loginData = { privateEmail, password };

            console.log("loginData", loginData);

            try {
                const response = await fetch('http://localhost:5050/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(loginData),
                    credentials: 'include'
                });

                if (!response.ok) {
                    alert("Login failed. Please check your credentials.");
                }

                const data = await response.json();

                if (data.success) {
                    window.location.href = "http://localhost:5173/account.stacky.vn"; // Use href to navigate to the URL
                } else {
                    throw new Error(data.message || "Login failed. Please check your credentials.");
                }

            } catch (error) {
                alert(error.message || "Login failed. Please check your credentials.");
                console.error("Login error:", error);
            }
        });
    </script>


</body>

</html>