.bar-chart-container {
    width: 100%;
    max-width: 600px; /* Đặt kích thước tối đa cho biểu đồ */
    height: 390px; /* Chiều cao của biểu đồ */
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
