/* src/styles/StatCard.css */
.stat-card {
    width: 240px;
    height: 147px;
    background-color: white;
    border-radius: 9px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card-border {
    border: 1px solid;
}

.stat-card-icon-container {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.stat-card-title, .stat-card-value {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.stat-card-value {
    margin-top: 8px;
    color: #48038C;
}
